
<link rel="stylesheet" href="css/detail.css" />
<article class="breadcrumb ">
	<header>
		<a href="javascript:history.go(-1)">
			<i class="iconfont icon-jiantou"></i>
		</a>
		<b>商品详情</b>
		<span>
			<i class="iconfont icon-shouyeshouyeactive"></i>		
		</span>
	</header>
</article>
<hr />
<div class="nav">
	<ul>
		<li>
			<a href="javascript:history(0)">基本信息</a>
		</li>
		<li>
			<a href="javascript:history(0)">图片详情</a>
		</li>
		<li>
			<a href="javascript:history(0)">参数/售后</a>
		</li>
		<li>
			<a href="javascript:history(0)">评价</a>
		</li>
	</ul>
</div>
<!-- Swiper -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="img/detail-img/1.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/2.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/3.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/4.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/5.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/6.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/7.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/8.jpg" /></div>
		<div class="swiper-slide"><img src="img/detail-img/9.jpg" /></div>

	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
	<!-- Add Arrows -->
	<!--<div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
</div>
<article class="pro-meta-area-name">
	<p>荣耀8 4GB+32GB 全网通版（珠光白）</p>
</article>
<article class="pro-meta-area">
	<p>
		<span>￥2299.00</span>
		<span>购买送积分</span>
	</p>
	<p class="p-promotion">【送TPU保护壳+免费领取30天碎屏险】双镜头/双2.5D玻璃/双功能指纹。</p>
	<ul>
		<li class="clearfix">
			<span>配:</span>
			<a>
				<img src="img/detail-img/10.jpg">
			</a>
		</li>
	</ul>
	<p>
		<span>以旧换新:旧机最高抵5000元 </span>
		<a> 立即参加></a>
	</p>
	<hr style="border-bottom:.05rem solid #CCCCCC; width: 100%;" />
</article>
<section class="pro-meta-sku accordion">
	<div>

		<p>颜色:</p>
		<ul>
			<li>珠光白</li>
			<li>流金光</li>
			<li>魅海蓝</li>
			<li>樱语粉</li>
			<li>幻夜黑</li>
		</ul>
	</div>
	<div class="zhishi">

		<p>制式</p>
		<ul>
			<li>全网通版</li>
			<li>移动/联通版</li>
		</ul>
	</div>
	<div class="rongliang">
		<p>容量</p>
		<ul>
			<li>4GB+16GB</li>
			<li>4GB+32GB</li>
			<li>3GB+32GB</li>
		</ul>
	</div>
	<div class="taocan">
		<p>套餐</p>
		<ul>
			<li>官方标配</li>
			<li>豪华套餐</li>
			<li>吴亦凡定制版</li>
		</ul>
	</div>
	<div class="ensure">
		<p>延保:</p>
		<ul>
			<li>华为终端延保服务（一年期） ¥158.00</li>
			<li>华为终端延保服务（半年期） ¥88.00</li>
		</ul>
	</div>
	<div class="count">
		<p>数量:</p>
		<span class="reduce">
			<i class="iconfont icon-jianhao"></i>
		</span>
		<input type="text" />
		<span class="add">
			<i class="iconfont icon-jiahao"></i>
		</span>
	</div>
	<div class="footer-bar">
		<div class="cartBus">
			<i class="iconfont icon-gouwuchekong"></i>
			<span>购物车</span>
		</div>
		<div class="cart">
			<span>加入购物车</span>
		</div>
		<div class="dingdan"><span>立即下单</span></div>
	</div>
</section>