<div class="loginImg">
	<img src="img/detail-img/wc.png" />
</div>
<h3 class="font-tit title">欢迎登录华为账户</h3>
<p class="wc-details">华为帐号是您用于访问所有华为服务的帐号。使用华为帐号登录后，您将可以使用云服务、华为商城、花粉俱乐部、应用市场、EMUI产品、华为网盘和开发者联盟。</p>
<div class="loginBox">
	<div class="userName">
		<input type="text" value="手机号/邮箱地址" id="username"/>
	</div>
	<div class="password">
		<input type="password" value="" id="password"/>
		<i class="iconfont icon-yanshi eye"></i>
		
	</div>
	<span class="Code">
	<div class="securityCode clearfix">
		<input type="text" value="请输入验证码"/>
	</div>
		<img src="img/detail-img/authCodeImage.png"/>
		<i class="iconfont icon-shuaxin"></i>
	</span>
</div>
<div class="remenber">
	<input type="checkbox"/>
	<span>记住账户</span>
	<a href="javascript:history(0)">忘记密码?</a>
</div>
<div class="login">
	<input type="submit" value="登录" id="login_btn" ng-click="login()"/>
</div>
<div class="freeReg"><a href="#/register">免费注册</a></div>
<div class="icon">
	<a class="QQ">
		<i class="iconfont icon-QQqie"></i>
	</a>
	<a class="zhifubao">
		<i class="iconfont icon-zhifubao"></i>
	</a>
</div>
<link rel="stylesheet" href="css/login.css" />