<article class="breadcrumb ">
	<header>
		<a href="javascript:history.go(-1)">
			<i class="iconfont icon-jiantou"></i>
		</a>
		<b>商品详情</b>
		<span>
			<i class="iconfont icon-shouyeshouyeactive"></i>		
		</span>
	</header>
</article>
<!--<hr />-->
<div class="content clearfix">
	<b>购物清单</b>
	<i class="iconfont icon-shanchu"></i>		
</div>
<div class="list">
	<section>
		<input type="checkbox" />
		<div class="desc">
			<span>套餐5C全网通高配金&保护壳</span>
			<span>¥ 1119.00&ensp;<strike>¥1138.00</strike></span>
		</div>
		<input type="text" value="1"/>
		<div class="pro-suit">
			<ul>
				<li class="clearfix">
					<img src="img/detail-img/10.jpg" />
					<p>[套餐]荣耀畅玩5C 简约PC保护壳（透明）</p>
					<p>¥20.00&ensp;<strike>¥39.00</strike> <span class="number">x1</span></p>
				</li>
				<li class="clearfix">
					<img src="img/detail-img/12.jpg" />
					<p>[套餐]荣耀畅玩5C 简约PC保护壳（透明）</p>
					<p>¥20.00&ensp;<strike>¥39.00</strike> <span class="number">x1</span></p>
				</li>
			</ul>
		</div>
	</section>
	<!--<section>
		<input type="checkbox" />
		<div class="desc">
			<span>套餐5C全网通高配金&保护壳</span>
			<span>¥ 1119.00&ensp;<strike>¥1138.00</strike></span>
		</div>
		<input type="text" value="1"/>
		
	</section>-->
</div>
<link rel="stylesheet" href="css/Cart.css" />